<div class='container'>
  <div class="row">
    @for (pokemon of pokemons; track pokemon) {
      <div class="col m4 s6">
        <div (click)="goToPokemonDetail(pokemon)" class="card horizontal" myDirective>
          <div class="card-image">
            <img [src]="pokemon.picture" />
          </div>
          <div class="card-staked-content">
            <p>{{pokemon.name}}</p>
            <p><small>{{pokemon.created |  date :"dd/MM/yyyy" }}</small></p>
            @for (type of pokemon.types; track type) {
              <span class="{{ type | pokemonTypeColor }}">
                {{ type }}
              </span>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>